postbox.flow
[
    {
        "id": "6439537796d96fd4",
        "type": "tab",
        "label": "Postbox flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c0ab39d099d6d87",
        "type": "rpi-gpio in",
        "z": "6439537796d96fd4",
        "name": "",
        "pin": "4",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "1ccc80d4da2c7576"
            ]
        ]
    },
    {
        "id": "d695acaf4f111a24",
        "type": "debug",
        "z": "6439537796d96fd4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "89cda6649fb7d2bb",
        "type": "function",
        "z": "6439537796d96fd4",
        "name": "@POSTBOX#POST:<status>#",
        "func": "msg.payload = \"@POSTBOX#POST:\"+msg.payload+\"#\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "d695acaf4f111a24",
                "77898374dc668e9a"
            ]
        ]
    },
    {
        "id": "0298a90f2eb5e5bd",
        "type": "tcp in",
        "z": "6439537796d96fd4",
        "name": "",
        "server": "server",
        "host": "",
        "port": "51238",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "77898374dc668e9a",
                "11a9891eb2864efa"
            ]
        ]
    },
    {
        "id": "77898374dc668e9a",
        "type": "tcp out",
        "z": "6439537796d96fd4",
        "host": "192.168.1.101",
        "port": "51238",
        "beserver": "client",
        "base64": false,
        "end": true,
        "name": "",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "11a9891eb2864efa",
        "type": "debug",
        "z": "6439537796d96fd4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 380,
        "wires": []
    },
    {
        "id": "1ccc80d4da2c7576",
        "type": "trigger",
        "z": "6439537796d96fd4",
        "name": "",
        "op1": "1",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "89cda6649fb7d2bb"
            ]
        ]
    }
]
